<h1>Sainte-Marguerite-sur-Mer</h1>

<div class="premier">
    <img src="assets/img/sainte-marguerite/sm01.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/sainte-marguerite/sm02.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/sainte-marguerite/sm03.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/sainte-marguerite/sm04.jpg">
</div>