<h1>Les Petites Dalles</h1>

<div class="premier">
    <img src="assets/img/les_petites_dalles/lpdalles01.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/les_petites_dalles/lpdalles02.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/les_petites_dalles/lpdalles03.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/les_petites_dalles/lpdalles04.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/les_petites_dalles/lpdalles05.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/les_petites_dalles/lpdalles06.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/les_petites_dalles/lpdalles07.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/les_petites_dalles/lpdalles08.jpg">
</div>