<h1>Puys</h1>

<div class="premier">
    <img src="assets/img/puys/pu1.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/puys/pu2.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/puys/pu3.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/puys/pu4.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/puys/pu5.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/puys/pu6.jpg">
</div>