@import url('https://fonts.googleapis.com/css?family=Parisienne');
.un {
    height: 95vh;
    background-size: cover;
    width: auto;
    background-image: url('/assets/img/berneval/b1.jpg');
    background-position: 50% 50%;
}

h1 {
    margin: auto;
    font-family: 'Parisienne', cursive, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    color: white;
    font-size: 4em;
}

.deux {
    height: 100vh;
    background-size: cover;
    width: auto;
    background-image: url('/assets/img/berneval/b2.jpg');
    background-position: 50% 50%;
}

.trois {
    height: 100vh;
    background-size: cover;
    width: auto;
    background-image: url('/assets/img/berneval/b3.jpg');
    background-position: 50% 50%;
}

.quatre {
    height: 100vh;
    background-size: cover;
    width: auto;
    background-image: url('/assets/img/berneval/b4.jpg');
    background-position: 50% 50%;
}