@import url('https://fonts.googleapis.com/css?family=Parisienne');
.credits {
    height: 95vh;
    background-color: rgb(17, 143, 201);
}

h1 {
    padding-top: 15%;
    text-align: center;
    color: white;
    font-family: 'Parisienne', cursive, sans-serif;
    margin: 0;
}