<div class="un">
    <img src="assets/img/sotteville/s01.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/sotteville/s02.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/sotteville/s03.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/sotteville/s04.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/sotteville/s05.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/sotteville/s06.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/sotteville/s07.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/sotteville/s08.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/sotteville/s09.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/sotteville/s10.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/sotteville/s11.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/sotteville/s12.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/sotteville/s13.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/sotteville/s14.jpg">
</div>