<div class="communes">
    <div class="liste">
        <a routerLink="/ault">Ault</a>
        <a routerLink="/belleville">Belleville-sur-Mer</a>
        <a routerLink="/berneval">Berneval</a>
        <a routerLink="/criel">Criel-sur-Mer</a>
        <a routerLink="/dieppe">Dieppe</a>
        <a routerLink="/etretat">Etretat</a>
        <a routerLink="/les_grandes_dalles">Les Grandes Dalles</a>
        <a routerLink="/les_petites_dalles">Les Petites Dalles</a>
        <a routerLink="/le_treport">Le Tréport</a>
        <a routerLink="/mers">Mers-les-Bains</a>
        <a routerLink="/mesnil_val">Mesnil Val Plage</a>
        <a routerLink="/pourville">Pourville-sur-Mer</a>
        <a routerLink="/puys">Puys</a>
        <a routerLink="/quiberville">Quiberville</a>
        <a routerLink="/saint_aubin">Saint-Aubin-sur-Mer</a>
        <a routerLink="/sainte_marguerite">Sainte-Marguerite-sur-Mer</a>
        <a routerLink="/saint_pierre_en_port">Saint-Pierre-en-Port</a>
        <a routerLink="/saint_valery">Saint-Valéry-en-Caux</a>
        <a routerLink="/sotteville">Sotteville-sur-Mer</a>
        <a routerLink="/varengeville">Varengeville-sur-Mer</a>
        <a routerLink="/veules">Veules-les-Roses</a>
        <a routerLink="/veullettes">Veulettes-sur-Mer</a>
        <a routerLink="/yport">Yport</a>
    </div>
</div>