<h1>Les Grandes Dalles</h1>

<div class="premier">
    <img src="assets/img/les_grandes_dalles/lgdalles01.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/les_grandes_dalles/lgdalles02.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/les_grandes_dalles/lgdalles03.jpg">
</div>

<div class="un" data-aos="zoom-in-right" data-aos-duration="1000">
    <img src="assets/img/les_grandes_dalles/lgdalles04.jpg">
</div>

<div class="un" data-aos="zoom-in-left" data-aos-duration="1000">
    <img src="assets/img/les_grandes_dalles/lgdalles05.jpg">
</div>