@import url('https://fonts.googleapis.com/css?family=Parisienne');
.accueil {
    height: 95vh;
    background-size: cover;
    width: auto;
    background-image: url('/assets/img/table.jpg');
    background-position: 50% 50%;
}

.diapo {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
}

.up {
    display: flex;
    width: 100%;
    height: 85%;
}

.photo {
    margin: auto;
    text-align: center;
}

img {
    width: 270px;
    height: 155px;
}

.down {
    display: flex;
    width: 100%;
    height: 15%;
}

h2 {
    margin: auto;
    font-family: 'Parisienne', cursive, sans-serif;
    font-weight: bold;
}

.belleville {
    position: fixed;
    top: 29%;
    right: 35%;
    transform: rotate(40deg);
}

.berneval {
    position: fixed;
    top: 19%;
    right: 15%;
    transform: rotate(-20deg);
}

.dieppe {
    position: fixed;
    top: 65%;
    left: 5%;
    transform: rotate(5deg);
}

.le_treport {
    position: fixed;
    top: 58%;
    left: 30%;
    transform: rotate(-5deg);
}

.pourville {
    position: fixed;
    top: 19%;
    left: 15%;
    transform: rotate(20deg);
}

.puys {
    position: fixed;
    top: 45%;
    left: 2%;
    transform: rotate(10deg);
}

.quiberville {
    position: fixed;
    top: 8%;
    left: 28%;
    transform: rotate(-3deg);
}

.sainte_marguerite {
    position: fixed;
    top: 59%;
    right: 5%;
    transform: rotate(-7deg);
}

.sotteville {
    position: fixed;
    top: 15%;
    right: 3%;
    transform: rotate(45deg);
}

.varengeville {
    position: fixed;
    top: 15%;
    left: 1%;
    transform: rotate(-85deg);
}

.veules {
    position: fixed;
    top: 65%;
    right: 25%;
    transform: rotate(5deg);
}

@media screen and (max-width: 1000px) {
    .accueil {
        height: 2600px;
    }
    .belleville {
        position: absolute;
        top: 50px;
        transform: rotate(0deg);
    }
    .berneval {
        position: absolute;
        top: 300px;
        transform: rotate(0deg);
    }
    .dieppe {
        position: absolute;
        top: 550px;
        transform: rotate(0deg);
    }
    .le_treport {
        position: absolute;
        top: 800px;
        transform: rotate(0deg);
    }
    .pourville {
        position: absolute;
        top: 1050px;
        transform: rotate(0deg);
    }
    .quiberville {
        position: absolute;
        top: 1300px;
        transform: rotate(0deg);
    }
    .sainte_marguerite {
        position: absolute;
        top: 1550px;
        transform: rotate(0deg);
    }
    .sotteville {
        position: absolute;
        top: 1800px;
        transform: rotate(0deg);
    }
    .varengeville {
        position: absolute;
        top: 2050px;
        transform: rotate(0deg);
    }
    .veules {
        position: absolute;
        top: 2300px;
        transform: rotate(0deg);
    }
}