@import url('https://fonts.googleapis.com/css?family=Parisienne');
.accueil {
    height: 95vh;
    background-size: cover;
    width: auto;
    background-image: url('/assets/img/table.jpg');
    background-position: 50% 50%;
}

.diapo {
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
}

.up {
    display: flex;
    width: 100%;
    height: 85%;
}

.photo {
    margin: auto;
    text-align: center;
}

img {
    width: 180px;
    height: 90px;
}

.down {
    display: flex;
    width: 100%;
    height: 15%;
}

h4 {
    margin: auto;
    font-family: 'Parisienne', cursive, sans-serif;
    font-weight: bold;
}

.ault {
    position: fixed;
    top: 71%;
    left: 15%;
    transform: rotate(80deg);
    z-index: 40;
}

.belleville {
    position: fixed;
    top: 27%;
    right: 32%;
    transform: rotate(40deg);
    z-index: 30;
}

.berneval {
    position: fixed;
    top: 19%;
    right: 15%;
    transform: rotate(-20deg);
}

.criel {
    position: fixed;
    top: 55%;
    left: 30%;
    transform: rotate(-10deg);
    z-index: 10;
}

.dieppe {
    position: fixed;
    top: 70%;
    left: 1%;
    transform: rotate(5deg);
}

.etretat {
    position: fixed;
    top: 50%;
    left: 15%;
    transform: rotate(5deg);
    z-index: 50;
}

.le_treport {
    position: fixed;
    top: 75%;
    left: 30%;
    transform: rotate(-5deg);
}

.lgdalles {
    position: fixed;
    top: 75%;
    right: 15%;
    transform: rotate(0deg);
}

.lpdalles {
    position: fixed;
    top: 48%;
    left: 45%;
    transform: rotate(40deg);
    z-index: 30;
}

.mers {
    position: fixed;
    top: 48%;
    right: -2%;
    transform: rotate(90deg);
    z-index: 10;
}

.mesnil_val {
    position: fixed;
    top: 45%;
    left: 35%;
    transform: rotate(15deg);
    z-index: 20;
}

.pourville {
    position: fixed;
    top: 19%;
    left: 15%;
    transform: rotate(20deg);
}

.puys {
    position: fixed;
    top: 45%;
    left: 2%;
    transform: rotate(10deg);
}

.quiberville {
    position: fixed;
    top: 8%;
    left: 28%;
    transform: rotate(-3deg);
}

.saint_aubin {
    position: fixed;
    top: 50%;
    right: 15%;
    transform: rotate(-7deg);
    z-index: 10;
}

.sainte_marguerite {
    position: fixed;
    top: 65%;
    right: 5%;
    transform: rotate(-7deg);
    z-index: 5;
}

.saint_pierre_en_port {
    position: fixed;
    top: 8%;
    left: 1%;
    transform: rotate(-7deg);
    z-index: 10;
}

.saint_valery {
    position: fixed;
    top: 7%;
    left: 50%;
    transform: rotate(7deg);
    z-index: 50;
}

.sotteville {
    position: fixed;
    top: 7%;
    right: 3%;
    transform: rotate(20deg);
}

.varengeville {
    position: fixed;
    top: 25%;
    left: 1%;
    transform: rotate(-85deg);
}

.veules {
    position: fixed;
    top: 65%;
    right: 25%;
    transform: rotate(5deg);
}

.veulettes {
    position: fixed;
    top: 30%;
    left: 28%;
    transform: rotate(5deg);
    z-index: 200;
}

.yport {
    position: fixed;
    top: 75%;
    left: 45%;
    transform: rotate(-5deg);
}

@media screen and (max-width: 1000px) {
    .accueil {
        height: 4350px;
        background-image: none;
    }
    .ault {
        position: absolute;
        top: 50px;
        transform: rotate(0deg);
        left: 8%;
    }
    .belleville {
        position: absolute;
        top: 300px;
        transform: rotate(0deg);
        left: 8%;
    }
    .berneval {
        position: absolute;
        top: 550px;
        transform: rotate(0deg);
        left: 8%;
    }
    .criel {
        position: absolute;
        top: 800px;
        transform: rotate(0deg);
        left: 8%;
    }
    .dieppe {
        position: absolute;
        top: 1050px;
        transform: rotate(0deg);
        left: 8%;
    }
    .etretat {
        position: absolute;
        top: 1050px;
        transform: rotate(0deg);
        left: 8%;
    }
    .le_treport {
        position: absolute;
        top: 1300px;
        transform: rotate(0deg);
        left: 8%;
    }
    .lgdalles {
        position: absolute;
        top: 1300px;
        transform: rotate(0deg);
        left: 8%;
    }
    .lpdalles {
        position: absolute;
        top: 1300px;
        transform: rotate(0deg);
        left: 8%;
    }
    .mers {
        position: absolute;
        top: 1550px;
        transform: rotate(0deg);
        left: 8%;
    }
    .mesnil_val {
        position: absolute;
        top: 1800px;
        transform: rotate(0deg);
        left: 8%;
    }
    .pourville {
        position: absolute;
        top: 2050px;
        transform: rotate(0deg);
        left: 8%;
    }
    .puys {
        position: absolute;
        top: 2300px;
        transform: rotate(0deg);
        left: 15%;
    }
    .quiberville {
        position: absolute;
        top: 2550px;
        transform: rotate(0deg);
        left: 8%;
    }
    .saint_aubin {
        position: absolute;
        top: 2800px;
        transform: rotate(0deg);
        left: 8%;
    }
    .sainte_marguerite {
        position: absolute;
        top: 3050px;
        transform: rotate(0deg);
        left: 8%;
    }
    .saint_valery {
        position: absolute;
        top: 3300px;
        transform: rotate(0deg);
        left: 8%;
    }
    .sotteville {
        position: absolute;
        top: 3550px;
        transform: rotate(0deg);
        left: 8%;
    }
    .varengeville {
        position: absolute;
        top: 3800px;
        transform: rotate(0deg);
        left: 8%;
    }
    .veules {
        position: absolute;
        top: 4050px;
        transform: rotate(0deg);
        left: 8%;
    }
    .veulettes {
        position: absolute;
        top: 4050px;
        transform: rotate(0deg);
        left: 8%;
    }
    .yport {
        position: absolute;
        top: 4300px;
        transform: rotate(0deg);
        left: 8%;
    }
}