<div class="accueil">

    <div class="ault diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/ault"><img src="assets/img/ault/a1min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Ault</h2>
        </div>
    </div>

    <div class="belleville diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/belleville"><img src="assets/img/belleville/be01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Belleville-sur-Mer</h2>
        </div>
    </div>

    <div class="berneval diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/berneval"><img src="assets/img/berneval/b01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Berneval</h2>
        </div>
    </div>

    <div class="criel diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/criel"><img src="assets/img/criel/c1min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Criel-sur-Mer</h2>
        </div>
    </div>

    <div class="dieppe diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/dieppe"><img src="assets/img/dieppe/d01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Dieppe</h2>
        </div>
    </div>

    <div class="le_treport diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/le_treport"><img src="assets/img/le_treport/lt01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Le Tréport</h2>
        </div>
    </div>

    <div class="mers diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/mers"><img src="assets/img/mers/me01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Mers-les-Bains</h2>
        </div>
    </div>

    <div class="mesnil_val diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/mesnil_val"><img src="assets/img/mesnil_val/mv01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Mesnil Val Plage</h2>
        </div>
    </div>

    <div class="pourville diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/pourville"><img src="assets/img/pourville/p01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Pourville-sur-Mer</h2>
        </div>
    </div>

    <div class="puys diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/puys"><img src="assets/img/puys/pu1min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Puys</h2>
        </div>
    </div>

    <div class="quiberville diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/quiberville"><img src="assets/img/quiberville/q01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Quiberville</h2>
        </div>
    </div>

    <div class="saint_aubin diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/saint_aubin"><img src="assets/img/saint-aubin/sa1min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Saint-Aubin-sur-Mer</h2>
        </div>
    </div>

    <div class="sainte_marguerite diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/sainte_marguerite"><img src="assets/img/sainte-marguerite/sm01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Sainte-Marguerite-sur-Mer</h2>
        </div>
    </div>

    <div class="saint_valery diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/saint_valery"><img src="assets/img/saint-valery/sv01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Saint-Valéry-en-Caux</h2>
        </div>
    </div>

    <div class="sotteville diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/sotteville"><img src="assets/img/sotteville/s01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Sotteville-sur-Mer</h2>
        </div>
    </div>

    <div class="varengeville diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/varengeville"><img src="assets/img/varengeville/v01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Varengeville-sur-Mer</h2>
        </div>
    </div>

    <div class="veules diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/veules"><img src="assets/img/veules/ve01min.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Veules-les-Roses</h2>
        </div>
    </div>

</div>