<div class="accueil">

    <div class="belleville diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/belleville"><img src="assets/img/belleville/be1.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Belleville-sur-Mer</h2>
        </div>
    </div>

    <div class="berneval diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/berneval"><img src="assets/img/berneval/b1.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Berneval</h2>
        </div>
    </div>

    <div class="dieppe diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/dieppe"><img src="assets/img/dieppe/d01.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Dieppe</h2>
        </div>
    </div>

    <div class="le_treport diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/le_treport"><img src="assets/img/le_treport/lt01.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Le Tréport</h2>
        </div>
    </div>

    <div class="pourville diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/pourville"><img src="assets/img/pourville/p1.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Pourville-sur-Mer</h2>
        </div>
    </div>

    <div class="quiberville diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/quiberville"><img src="assets/img/quiberville/q01.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Quiberville</h2>
        </div>
    </div>

    <div class="sainte_marguerite diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/sainte_marguerite"><img src="assets/img/sainte-marguerite/sm1.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Sainte-Marguerite-sur-Mer</h2>
        </div>
    </div>

    <div class="sotteville diapo">
        <div class="up">
            <div class="photo">
                <a routerLink="/sotteville"><img src="assets/img/sotteville/s01.jpg"></a>
            </div>
        </div>
        <div class="down">
            <h2>Sotteville-sur-Mer</h2>
        </div>
    </div>

</div>